.link{
  padding-right: 5px;
  text-align: center;
  text-decoration: none;
  color:white;
}
.App{
height: 100vh;
width: 100vw;
background-color: rgb(44, 44, 44);
}
.home{
  justify-self: center;
  display: flex;

  align-items: center;
  justify-content: center;
}
.glassCard{
  height: 70vh;
  width: 85vw;
}
.glassCard.card{
  background-color: rgba(255, 255, 255, 0.445);
}
.glassCard .heroList{
  height: 60vh;
}
.heroList,.foundHeroes{
  padding: 25px;
}
.teamName{
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 5px;
  border-bottom: 1px solid white;
  color:white;
}
.roundedLeft{
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.heroCard{
  margin:0px;
  padding:2px;
  
}
 .sideBar .stats{
  padding: 2px;
  font-size: 12px;
}
.heroCard .stats{
  max-height: 100px;
}
.loginModal{
  background-color: #ffffff75;
}